body {
  background: #fff;
  font-family: 'Work Sans', sans-serif;
  font-size: 20px;
  font-weight: 400;
}

.links {
    width: 800px;
    margin: 0 auto;

    a {
        color: #09f;
        text-decoration: none;

        &:hover {
            opacity: 0.6;
        }
    }

    .full-url {
        color: rgb(70, 70, 70);
        text-shadow: 1px 1px 0 #fff;
    }
}

.links h1 {
    color: #333;
    margin-bottom: 40px;
}

.links ul {
    padding: 0;
    list-style-type: none;
}

.links ul li {
    margin-bottom: 20px;
}
